name: Regression Tests

# default token permissions: none
permissions: {}

on:
  push:
    branches:
      - main
  # Currently, there doesn't appear to be a simple solution for
  # having required checks with ignored paths (the checks will
  # never run and so PRs cannot be merged).
  #   paths-ignore:
  #     - "**/*.md"
  #     - "LICENSE"
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  #   paths-ignore:
  #     - "**/*.md"
  #     - "LICENSE"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - name: Tests and coverage
        run: go test -cover ./...
        env:
          # self-updater tests make requests to the GitHub API
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
