name: Regression Tests

# default token permissions: none
permissions: {}

on:
  push:
    branches:
      - main
  # Currently, there doesn't appear to be a simple solution for
  # having required checks with ignored paths (the checks will
  # never run and so PRs cannot be merged).
  #   paths-ignore:
  #     - "**/*.md"
  #     - "LICENSE"
  pull_request:
  #   paths-ignore:
  #     - "**/*.md"
  #     - "LICENSE"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Install Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - name: Tests and coverage
        run: go run mage.go coverage
